html {
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
    border: none;
    margin: 0px;
  }
  
  #navbar {
    height: 72px;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    flex-direction: row;
  }
  
  .container-1, .container-2, .container-3 {
    height: 100%;
    width: 80px;
    text-align: center;
  }
  
  .container-3 {
    margin-right: 35px;
  }
  
  p {
    font-size: 23px;
    }
  
  .auto:link {
    color: black;
    text-decoration: none;
  }
  
  .auto:visited {
    color: black;
  }
  
  .container-1:hover, .container-2:hover, .container-3:hover {
    background-color: #003A5D;
    height: 100%;
  }
  
  .container-1:hover *, .container-2:hover *, .container-3:hover *,
  p:hover {
    color: white;
  }
  
  #welcome-section {
    background-color: #0F573C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 40px;
    font-family: raleway, sans-serif;
  }
  
  h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    font-family: raleway, sans-serif;
  }
  
  #projects {
    height: 1380px;
    background: #003A5D;
  }
  
  h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    color: black;
    font-size: 35px;
    font-family: raleway, sans-serif;
    text-decoration: underline;
    text-underline-offset: 12px;
  }
  
  .projects-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: center;
  }
  
  .project-tile {
    background-color: white;
    width: 450px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .img-class {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
  
  figure {
    margin-left: 0;
    margin-top: 0;
  }
  
  figcaption {
    text-align: center;
    height: 40px;
  }
  
  #connect {
    background: #FD8189;
    height: 1300px;
    border-bottom: solid white;
  }
  
  footer {
    height: 100px;
    background: #FD8189;
  }